@media (max-width: 768px) { /* Adjust for mobile screens */
  body {
    flex-direction: column; /* Stack elements vertically on mobile */
  }
}

body {
  background-color: #0E2C53;
  color: white;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  align-items: baseline;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  font-family: "Acumin Pro"; /* Replace with your desired font */
  max-height: 100vh; /* Set maximum height to viewport height, making the body take up full screen on mobile and desktop */
}


button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  border: solid 1px rgb(13, 13, 14);
  background-color: #0E2C53;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

#result{
    display: none;
}

#normalResult, #plusResult, #cargoResult{
    display: none
}


table {
    width: 100%;
    margin: auto; /* added for centering */
}

td {
    padding: 8px; /* added padding to table cells */
    text-align: center; /* added centering to table contents */
}
button:hover {
  background-color: #dc3545;;
}

button:disabled {
  background-color: gray;
}

#mainContent{
  border: black
  solid 2px;
  background-color: white;
  padding: 10px;

}

fieldset{
  color: black;
  border: solid 1px #0E2C53;
}
h2, h1,p{
  color: black;
  text-align: center;
}